*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(197, 197, 197);
    justify-content: center;
    text-align: center;
}

/*Menú barra*/

header{ 
    width: 100%;
    background: black;
    min-height: 70px;
    margin-bottom: 20px;
}

.ancho{
    width: 80%;
    height: 70px;
    background: black;
    margin: auto;
}

.logo{
    width: 30%;
    height: 70px;
    background: black;
    float: left;
    box-sizing: border-box;
}

.logo p img{
    min-width: 45%;
    height: 70px;
}

nav{
    width: 70%;
    min-height: 70px;
    background: black;
    float: left;
    text-align: right;
    padding-top: 20px;
    box-sizing: border-box;
}

nav ul li{
    display: inline;
}

nav ul li a{
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    text-decoration: none;
    margin-left: 30px;
    font-weight: bold;
    letter-spacing: 1px;    
}

nav ul li a:hover{
    color: rgb(207, 224, 155);
    text-decoration: underline;
}

/*Menú flotante*/

#btn-mas{
    display: none;
}

.menu{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.redes a{
    display: block;
    text-decoration: none;
    background-color: black;
    color: rgb(207, 224, 155);
    width: 55px;
    height: 55px;
    line-height: 55px; /*Para alinear el texto verticalmente*/
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition: all 500ms ease;
}

.mas{
    display: block;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: 700;
    background-color: black;
    color: rgb(207, 224, 155);
    width: 60px;
    height: 60px;
    line-height: 55px; /*Para alinear el texto verticalmente*/
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition: all 500ms ease;
}

.redes a:hover{
    background-color: rgb(207, 224, 155);
    color: black;
}

.redes a{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}

#btn-mas:checked~ .redes a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}

/*Slider*/

.slider{
    width: 50%; /*95%*/
    margin: auto;
    overflow: hidden;
    margin-bottom: 30px;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: slide 20s infinite;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;
}

@keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
}

/*Catalogo de productos - Inicio*/

h2{
    font-family: 'Dosis', sans-serif;
    font-size: 40px;
    font-weight: 2200;
}

.container{
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: auto;
    padding-bottom: 120px;
}

.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: rgb(207, 224, 155);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}


.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
}

.card img{
    width: 100%;
    height: 210px;
}

.card .contenido{
    padding: 15px;
    text-align: center;
}

.card .contenido h3{
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 15px;
}

.card .contenido p{
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: black;
}

.card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: white;
    background: rgb(70, 70, 70);
    border-radius: 4px;
    transition: all 400ms ease;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.card .contenido a:hover{
    background: rgb(49, 49, 49);
    color: rgb(207, 224, 155);
}

/*Pie de página*/

.piedepagina{
    width: 100%;
    background-color: rgb(207, 224, 155);
}

.piedepagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.piedepagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piedepagina .grupo-1 .box figure img{
    width: 250px;
}

.piedepagina .grupo-1 .box h2{
    margin-bottom: 25px;
    font-size: 20px;
}

.piedepagina .grupo-1 .box p{
    margin-bottom: 10px;
}

.piedepagina .grupo-1 .red-social a{
    text-decoration: none;
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: rgb(178, 192, 135);
    border-radius: 6px;
}

.piedepagina .grupo-2{
    background-color: rgb(178, 192, 135);
    padding: 15px 10px;
    text-align: center;
    color: white;
}

.piedepagina .grupo-2 .small{
    font-size: 15px;
}

@media screen and (max-width:800px){

    body{
        justify-content: center;
        text-align: center;
    }
    nav ul li a{
        margin-left: 10px; /**/
    }

    .container{
        width: 50%;
        display: grid;

    }
    
    .piedepagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}
